.row.border-bottom.p-2
  .col-1
    - if post.user.avatar.attached?
      = image_tag(post.user.avatar, size: '50', class: 'rounded-circle')
    - else
      = image_tag('/images/avatar_default.png', size: '50', class: 'rounded-circle')
  .col
    = simple_form_for post do |f|
      = f.input :content, label: false, placeholder: 'Share what you think', input_html: { class: 'post-input-field fs-5' }
      .d-flex
        = f.button :submit, 'Post', class: 'btn btn-secondary ms-auto'
