.container.full.width.px-3
  .navbar-toggler{"aria-controls" => "#navi", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navi", "data-bs-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navi.collapse.navbar-collapse.flex-grow-0
    .d-flex.flex-column
     
      .image.p-2
        = image_tag('/images/nblog_smaller.png', :alt => "cat")
      %ul.nav.flex-column.p-2
        %li.nav-item.main-link.p-2
          %i.bi.bi-house.fs-2
          = link_to 'Home', root_url, class: "#{current_page?(root_url) ? 'link-danger' : 'link-dark'} p-1 fs-3 fw-bold text-decoration-none"
        %li.nav-item.main-link.p-2
          %i.bi.bi-person.fs-2
          = link_to 'Profile', user_url(current_user.id), class: "#{current_page?(user_url(current_user.id)) ? 'link-danger' : 'link-dark'} p-1 fs-3 fw-bold text-decoration-none"
        %li.nav-item.main-link.d-flex.p-2
          %i.bi.bi-box-arrow-left.fs-2
          = simple_form_for :session, method: :delete, url: logout_url do |f|
            = f.button :submit, 'Logout', class: "link-dark p-1 fs-3 fw-bold"