.border-bottom.p-2
  .row
    .col-2.col-lg-1
      - if post.user.avatar.attached?
        = link_to image_tag(post.user.avatar, size: '50', class: 'rounded-circle'), user_url(post.user_id)
      - else
        = link_to image_tag('/images/avatar_default.png', size: '50', class: 'rounded-circle'), user_url(post.user_id)
    .col
      .d-flex.flex-wrap.justify-content-between.mb-2
        .fw-bold.mb-2
          = link_to post.user.name, user_url(post.user_id), class: 'link-dark text-decoration-none'
        .text-secondary 
          posted #{ time_ago_in_words(post.created_at) } ago
      = Rinku.auto_link(simple_format(post.content), :all, 'target="_blank"').html_safe
      .d-flex.mt-2
        .ms-auto
          = render 'posts/post_delete_link', post: post if post.user == current_user