- if logged_in?
  - content_for :columns do
    .container
      .row.full-height
        .col-md-2
          = render 'shared/navi'
        .col-md-7.full-height.d-flex.flex-column 
          .card
            .card-body.fs-4.fw-bold.p-2.pb-1
              = yield(:title)
          .full-width.hide-scrollbar.border
            = yield
        .col-md-3.p-0
          = render 'static_pages/right_panel'

= render template: "layouts/application"