- if logged_in?
  - content_for :columns do
    .container
      .row.full-height
        .col-lg-2.navbar.navbar-expand-lg.navbar-light.bg-white.d-flex.flex-column.justify-content-start.px-0
          = render 'shared/navi'
        .col-lg-7.full-height.d-flex.flex-column
          .card
            .card-body.fs-4.fw-bold.p-2.pb-1
              = yield(:title)
          .full-width.hide-scrollbar.border
            = yield
        .col-lg-3.p-0
          = render 'static_pages/right_panel'

= render template: "layouts/application"